# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.suo
/bin/debug
/bin/release
*.opensdf
/basic_lib/Debug
/ipch
/basic_lib/Release
/zPanel/Debug
/zPanelLib/Debug